<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 上述5个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <title>超市管理系统 </title>

        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <link href="/static/css/money.css" rel="stylesheet">

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">超市商品录入:{{user_name}}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">首页</a></li>
                    <li class="active"><a href="/money?gid=&name=&value=&number=">收银</a></li>
                    <li><a href="/auth/logout">退出</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
        </nav>
        <div class="page-header" text-align=center>
            <h1>收银</h1>
        </div>
        <form class="form-horizontal" action="/money" method="get">
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">商品编号</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="gid" name='gid' placeholder="编号">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">商品名称</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="name" name='name' placeholder="名称">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">商品数量</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="number" name='number' placeholder="数量">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-sm-2 control-label" for="formGroupInputSmall">商品售价</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" id="value" name='value' placeholder="售价">
                </div>
            </div>
            <div class="form-group form-group-sm" id="bt">
                <button type="submit" class="btn btn-primary" onclick="Submit()">提交</button>
            </div>
            <div class="form-group form-group-sm" id="bt1">
                <button type="submit" class="btn btn-primary" onclick="Clear()">清空</button>
            </div>
            <div class="row" id="table">
                <div class="col-md-6" style="width:500px">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>商品编号</th>
                                <th>商品名称</th>
                                <th>商品售价</th>
                                <th>商品数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in result %}
                            <tr>
                            <td>{{item[0]}}</font></td>
                            <td>{{item[1]}}</font></td>
                            <td>{{item[2]}}</font></td>
                            <td>{{item[3]}}</font></td>
                            <td>{{item[4]}}</font></td>
                            {% end %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                总价:{{total}}
            </div>
        </form>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/jquery-2.1.4.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/money.js"></script>
    </body>
</html>
